In [217]:
import pandas as pd 
from pyranges import PyRanges

<h1> T2T CHM13

In [218]:
## Anotations
t2t_genes = pd.read_csv('../annotation_files/T2T-chm13-catLiftOffGenes.csv')
t2t_telomeres = pd.read_csv('../annotation_files/chm13v2.0_telomere.bed', sep='\t', names=['Chromosome','Start', 'End'])
t2t_sds = pd.read_csv('../annotation_files/chm13v2.0_SD.full.bed', sep='\t')
t2t_sds = t2t_sds[['#chr1', 'start1', 'end1']]
## Read and merge files 
anotation = pd.read_csv('../data/SGDP_anotation.csv', sep=',', encoding='latin-1')

ids_hg19 = pd.DataFrame()
ids_hg19['Sample'] = anotation['3-Illumina_ID']
ids_hg19['Region'] = anotation['10-Region']
t2t_sds.columns =['Chromosome','Start','End']
t2t_sds

/var/folders/05/4pfxtbrs5459ytz3j1jhcgt00000gn/T/ipykernel_86068/1889853910.py:2: DtypeWarning: Columns (23,36) have mixed types. Specify dtype option on import or set low_memory=False.
  t2t_genes = pd.read_csv('../annotation_files/T2T-chm13-catLiftOffGenes.csv')

      Chromosome     Start       End
0           chr1         1     13731
1           chr1         3    140066
2           chr1        16     13731
3           chr1        16     13731
4           chr1        16    198196
...          ...       ...       ...
83511       chrY  62445192  62453929
83512       chrY  62445192  62454747
83513       chrY  62445192  62456950
83514       chrY  62445192  62457871
83515       chrY  62445192  62458697

[83516 rows x 3 columns]

In [219]:
# is not working 
chm13 = pd.read_csv('../call_cnvr_chm13/individual_cnv_cnvr.txt', sep='\t')

/var/folders/05/4pfxtbrs5459ytz3j1jhcgt00000gn/T/ipykernel_86068/2170477776.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  chm13 = pd.read_csv('../call_cnvr_chm13/individual_cnv_cnvr.txt', sep='\t')

In [220]:
chm13 = chm13.dropna()
chm13['Length_cnvr'] = chm13['End'] - chm13['Start']
chm13

,Chr,Start,End,CNVR_ID,Sample_ID,CNV_Start,CNV_End,CNV_Value,Length,Length_cnvr
43107,22,15787747.0,51324926.0,CNVR_109275,LP6005442-DNA_A11,20039024,20042704,1,3681,35537179.0
43108,22,15787747.0,51324926.0,CNVR_109275,LP6005442-DNA_A11,20072827,20080819,1,7993,35537179.0
43109,22,15787747.0,51324926.0,CNVR_109275,LP6005442-DNA_A11,20093828,20095291,1,1464,35537179.0
43110,22,15787747.0,51324926.0,CNVR_109275,LP6005442-DNA_A11,20127368,20128368,1,1001,35537179.0
43111,22,15787747.0,51324926.0,CNVR_109275,LP6005442-DNA_A11,20142860,20144633,1,1774,35537179.0
...,...,...,...,...,...,...,...,...,...,...
35252344,1,248304532.0,248387328.0,CNVR_11357,LP6005441-DNA_B09,248364795,248366351,29,1557,82796.0
35252345,1,248304532.0,248387328.0,CNVR_11357,LP6005441-DNA_B09,248366351,248367622,30,1272,82796.0
35252346,1,248304532.0,248387328.0,CNVR_11357,LP6005441-DNA_B09,248367622,248368745,27,1124,82796.0
35252347,1,248304532.0,248387328.0,CNVR_11357,LP6005441-DNA_B09,248368745,248370339,43,1595,82796.0
35252348,1,248304532.0,248387328.0,CNVR_11357,LP6005441-DNA_B09,248370339,248387328,39,16990,82796.0

In [221]:

## Keeping only samples that are on old cnvs 
chm13 = chm13.merge(ids_hg19, right_on=['Sample'], left_on=['Sample_ID'])


chm13

,Chr,Start,End,CNVR_ID,Sample_ID,CNV_Start,CNV_End,CNV_Value,Length,Length_cnvr,Sample,Region
0,22,15787747.0,51324926.0,CNVR_109275,LP6005442-DNA_A11,20039024,20042704,1,3681,35537179.0,LP6005442-DNA_A11,WestEurasia
1,22,15787747.0,51324926.0,CNVR_109275,LP6005442-DNA_A11,20072827,20080819,1,7993,35537179.0,LP6005442-DNA_A11,WestEurasia
2,22,15787747.0,51324926.0,CNVR_109275,LP6005442-DNA_A11,20093828,20095291,1,1464,35537179.0,LP6005442-DNA_A11,WestEurasia
3,22,15787747.0,51324926.0,CNVR_109275,LP6005442-DNA_A11,20127368,20128368,1,1001,35537179.0,LP6005442-DNA_A11,WestEurasia
4,22,15787747.0,51324926.0,CNVR_109275,LP6005442-DNA_A11,20142860,20144633,1,1774,35537179.0,LP6005442-DNA_A11,WestEurasia
...,...,...,...,...,...,...,...,...,...,...,...,...
25767495,1,248304532.0,248387328.0,CNVR_11357,LP6005441-DNA_B09,248364795,248366351,29,1557,82796.0,LP6005441-DNA_B09,EastAsia
25767496,1,248304532.0,248387328.0,CNVR_11357,LP6005441-DNA_B09,248366351,248367622,30,1272,82796.0,LP6005441-DNA_B09,EastAsia
25767497,1,248304532.0,248387328.0,CNVR_11357,LP6005441-DNA_B09,248367622,248368745,27,1124,82796.0,LP6005441-DNA_B09,EastAsia
25767498,1,248304532.0,248387328.0,CNVR_11357,LP6005441-DNA_B09,248368745,248370339,43,1595,82796.0,LP6005441-DNA_B09,EastAsia
25767499,1,248304532.0,248387328.0,CNVR_11357,LP6005441-DNA_B09,248370339,248387328,39,16990,82796.0,LP6005441-DNA_B09,EastAsia

In [222]:
#REMOVE SAMPLES WITH ABERRATIONS
samples_with_aberrations = ['LP6005441-DNA_B03', ' LP6005443-DNA_G01', 'LP6005441-DNA_G09', 'LP6005441-DNA_D04'] 

chm13 = chm13[~chm13.Sample.isin(samples_with_aberrations)]


chm13#.value_counts(by=["Sample_ID"])
chm13.columns = ['Chromosome', 'Start', 'End', 'CNVR_ID', 'Sample_iD', 'CNV_start', 'CNV_end', 'CNV_Value','Length', 'Length_cnvr','Sample','Region']
chm13

,Chromosome,Start,End,CNVR_ID,Sample_iD,CNV_start,CNV_end,CNV_Value,Length,Length_cnvr,Sample,Region
0,22,15787747.0,51324926.0,CNVR_109275,LP6005442-DNA_A11,20039024,20042704,1,3681,35537179.0,LP6005442-DNA_A11,WestEurasia
1,22,15787747.0,51324926.0,CNVR_109275,LP6005442-DNA_A11,20072827,20080819,1,7993,35537179.0,LP6005442-DNA_A11,WestEurasia
2,22,15787747.0,51324926.0,CNVR_109275,LP6005442-DNA_A11,20093828,20095291,1,1464,35537179.0,LP6005442-DNA_A11,WestEurasia
3,22,15787747.0,51324926.0,CNVR_109275,LP6005442-DNA_A11,20127368,20128368,1,1001,35537179.0,LP6005442-DNA_A11,WestEurasia
4,22,15787747.0,51324926.0,CNVR_109275,LP6005442-DNA_A11,20142860,20144633,1,1774,35537179.0,LP6005442-DNA_A11,WestEurasia
...,...,...,...,...,...,...,...,...,...,...,...,...
25767495,1,248304532.0,248387328.0,CNVR_11357,LP6005441-DNA_B09,248364795,248366351,29,1557,82796.0,LP6005441-DNA_B09,EastAsia
25767496,1,248304532.0,248387328.0,CNVR_11357,LP6005441-DNA_B09,248366351,248367622,30,1272,82796.0,LP6005441-DNA_B09,EastAsia
25767497,1,248304532.0,248387328.0,CNVR_11357,LP6005441-DNA_B09,248367622,248368745,27,1124,82796.0,LP6005441-DNA_B09,EastAsia
25767498,1,248304532.0,248387328.0,CNVR_11357,LP6005441-DNA_B09,248368745,248370339,43,1595,82796.0,LP6005441-DNA_B09,EastAsia
25767499,1,248304532.0,248387328.0,CNVR_11357,LP6005441-DNA_B09,248370339,248387328,39,16990,82796.0,LP6005441-DNA_B09,EastAsia

In [223]:
#change to df when using telomeres and centromeres filtration
final_cnv = chm13.pivot_table(index=["Chromosome", "Start", "End", 'Length_cnvr'], 
                    columns='Sample', 
                    values='CNV_Value',
                        fill_value=2).reset_index()


final_cnv

Sample,Chromosome,Start,End,Length_cnvr,LP6005441-DNA_A01,LP6005441-DNA_A03,LP6005441-DNA_A04,LP6005441-DNA_A05,LP6005441-DNA_A06,LP6005441-DNA_A08,...,LP6005677-DNA_D03,LP6005677-DNA_E01,LP6005677-DNA_F01,LP6005677-DNA_G01,LP6007068-DNA_A01,LP6007069-DNA_A01,SS6004471,SS6004477,SS6004478,SS6004480
0,1,0.0,403567.0,403567.0,2.0,18.08,2.0000,2.0,2.000000,2.0,...,2.0,2.000000,2.0,18.446154,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
1,1,436980.0,452948.0,15968.0,2.0,6.00,2.0000,2.0,2.000000,2.0,...,2.0,2.000000,2.0,6.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
2,1,453948.0,466894.0,12946.0,2.0,2.00,2.0000,2.0,2.000000,2.0,...,2.0,2.000000,2.0,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
3,1,472779.0,484339.0,11560.0,2.0,2.00,2.0000,2.0,2.000000,2.0,...,2.0,2.000000,2.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
4,1,485339.0,511499.0,26160.0,2.0,3.00,2.0000,2.0,2.000000,2.0,...,2.0,2.000000,2.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178458,9,149620306.0,149794372.0,174066.0,1.0,1.00,1.0000,1.0,2.000000,1.0,...,1.0,1.000000,1.0,2.000000,2.636364,2.666667,3.166667,2.166667,2.526316,1.000000
178459,9,149796085.0,149801998.0,5913.0,2.0,2.00,2.0000,2.0,2.000000,2.0,...,2.0,2.000000,2.0,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000
178460,9,149803678.0,149871435.0,67757.0,1.0,1.00,1.0000,1.0,1.000000,1.0,...,1.0,1.000000,1.0,1.000000,1.555556,1.555556,2.826087,1.428571,1.700000,0.833333
178461,9,149876993.0,150167512.0,290519.0,1.0,1.00,3.3000,2.0,3.555556,1.0,...,2.0,3.333333,1.0,1.000000,2.800000,2.785714,3.096386,3.083333,2.928571,1.000000
178462,9,150171200.0,150617247.0,446047.0,2.0,2.00,22.2375,1.0,22.848101,1.0,...,1.0,22.225000,2.0,2.000000,21.734940,23.156627,13.487179,20.476190,21.132530,1.000000

In [224]:
final_cnv_ranges = PyRanges(final_cnv)

/opt/anaconda3/lib/python3.11/site-packages/pyranges/methods/init.py:45: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return {k: v for k, v in df.groupby(grpby_key)}

In [225]:
t2t_genes.columns = ['Chromosome', 'Start', 'End', 'name', 'score', 'strand',
       'thickStart', 'thickEnd', 'reserved', 'blockCount', 'blockSizes',
       'chromStarts', 'name2', 'cdsStartStat', 'cdsEndStat', 'exonFrames',
       'txId', 'type', 'geneName', 'geneType', 'sourceGene',
       'sourceTranscript', 'alignmentId', 'alternativeSourceTranscripts',
       'Paralogy', 'UnfilteredParalogy', 'collapsedGeneIds',
       'collapsedGeneNames', 'frameshift', 'exonAnnotationSupport',
       'intronAnnotationSupport', 'transcriptClass', 'transcriptModes',
       'validStart', 'validStop', 'properOrf', 'extra_paralog']

<h2> Genes

In [226]:
t2t_genes['Chromosome'] = t2t_genes['Chromosome'].str.replace('chr', '')
t2t_genes = PyRanges(t2t_genes)

/opt/anaconda3/lib/python3.11/site-packages/pyranges/methods/init.py:45: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return {k: v for k, v in df.groupby(grpby_key)}

In [227]:
#### t2t genes

In [228]:
coordinates_genes = final_cnv_ranges.nearest(t2t_genes)
coordinates_genes = coordinates_genes.as_df()
coordinates_genes = coordinates_genes[coordinates_genes['Distance'] <1 ]
coordinates_genes

,Chromosome,Start,End,Length_cnvr,LP6005441-DNA_A01,LP6005441-DNA_A03,LP6005441-DNA_A04,LP6005441-DNA_A05,LP6005441-DNA_A06,LP6005441-DNA_A08,...,frameshift,exonAnnotationSupport,intronAnnotationSupport,transcriptClass,transcriptModes,validStart,validStop,properOrf,extra_paralog,Distance
0,1,0,403567,403567.0,2.000000,18.080000,2.000000,2.000000,2.000000,2.000000,...,NaN,NaN,NaN,paralog,Liftoff,NaN,NaN,NaN,True,0
1,1,436980,452948,15968.0,2.000000,6.000000,2.000000,2.000000,2.000000,2.000000,...,NaN,"1,1,1","1,1",ortholog,transMap,True,True,True,False,0
2,1,453948,466894,12946.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,False,"1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...","2,1,2,2,1,0,1,1,1,1,1,1,1,2,2,2,1,1,1,2,2,1,1,...",ortholog,transMap,True,True,True,False,0
3,1,472779,484339,11560.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,False,"1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...","2,1,2,2,1,0,1,1,1,1,1,1,1,2,2,2,1,1,1,2,2,1,1,...",ortholog,transMap,True,True,True,False,0
4,1,485339,511499,26160.0,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,...,False,"1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...","2,1,2,2,1,0,1,1,1,1,1,1,1,2,2,2,1,1,1,2,2,1,1,...",ortholog,transMap,True,True,True,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178458,21,0,45090682,45090682.0,110.172885,145.875912,158.807910,1.000000,110.482155,160.080597,...,NaN,NaN,NaN,paralog,Liftoff,NaN,NaN,NaN,True,0
178459,22,0,12764469,12764469.0,2.000000,2.000000,2.000000,52.759434,2.000000,2.000000,...,NaN,NaN,NaN,paralog,Liftoff,NaN,NaN,NaN,True,0
178460,22,15787747,51324926,35537179.0,2.000000,2.000000,2.000000,10.165951,2.000000,2.000000,...,NaN,NaN,NaN,paralog,Liftoff,NaN,NaN,NaN,True,0
178461,22,0,12764469,12764469.0,111.294022,146.077591,153.602821,206.970825,120.948192,151.150567,...,NaN,NaN,NaN,paralog,Liftoff,NaN,NaN,NaN,True,0
178462,22,15787747,51324926,35537179.0,10.664289,9.151965,8.807181,0.970000,9.927382,9.674572,...,NaN,NaN,NaN,paralog,Liftoff,NaN,NaN,NaN,True,0

In [229]:
len(coordinates_genes[['Chromosome','Start', 'End']].drop_duplicates())

84326

<h2> Telomeres

In [230]:
t2t_telomeres['Chromosome'] = t2t_telomeres['Chromosome'].str.replace('chr', '')
t2t_telomeres = PyRanges(t2t_telomeres)
t2t_telomeres

/opt/anaconda3/lib/python3.11/site-packages/pyranges/methods/init.py:45: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return {k: v for k, v in df.groupby(grpby_key)}

+--------------+-----------+-----------+
| Chromosome   | Start     | End       |
| (category)   | (int64)   | (int64)   |
|--------------+-----------+-----------|
| 1            | 0         | 3000      |
| 1            | 248384000 | 248387328 |
| 2            | 0         | 3600      |
| 2            | 242693800 | 242696752 |
| ...          | ...       | ...       |
| X            | 154256800 | 154259566 |
| X            | 0         | 2000      |
| Y            | 62453800  | 62460029  |
| Y            | 0         | 5800      |
+--------------+-----------+-----------+
Unstranded PyRanges object has 50 rows and 3 columns from 24 chromosomes.
For printing, the PyRanges was sorted on Chromosome.

In [231]:
coordinates_telomeres = final_cnv_ranges.nearest(t2t_telomeres)
coordinates_telomeres = coordinates_telomeres.as_df()
coordinates_telomeres = coordinates_telomeres[coordinates_telomeres['Distance'] <1 ]
coordinates_telomeres

,Chromosome,Start,End,Length_cnvr,LP6005441-DNA_A01,LP6005441-DNA_A03,LP6005441-DNA_A04,LP6005441-DNA_A05,LP6005441-DNA_A06,LP6005441-DNA_A08,...,LP6005677-DNA_G01,LP6007068-DNA_A01,LP6007069-DNA_A01,SS6004471,SS6004477,SS6004478,SS6004480,Start_b,End_b,Distance
0,1,0,403567,403567.0,2.000000,18.080000,2.000000,2.000000,2.000000,2.000000,...,18.446154,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,0,3000,0
1,1,0,403567,403567.0,16.488189,1.000000,16.674419,17.312500,17.437500,16.283465,...,1.000000,15.319728,15.862069,16.807407,15.592593,14.821918,16.277778,0,3000,0
2,1,248304532,248387328,82796.0,20.875000,21.444444,21.111111,25.250000,23.250000,21.750000,...,23.111111,17.909091,18.909091,17.700000,16.000000,18.200000,18.909091,248384000,248387328,0
13958,2,0,65036,65036.0,8.400000,9.300000,2.000000,2.000000,2.000000,2.000000,...,10.100000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,0,3600,0
13959,2,242413858,242696752,282894.0,2.000000,14.642857,2.000000,2.000000,2.000000,2.000000,...,16.254545,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,242693800,242696752,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178458,21,0,45090682,45090682.0,110.172885,145.875912,158.807910,1.000000,110.482155,160.080597,...,129.256325,98.383085,95.412666,108.014702,153.940968,89.884274,84.726368,0,3000,0
178459,22,0,12764469,12764469.0,2.000000,2.000000,2.000000,52.759434,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,0,4600,0
178460,22,15787747,51324926,35537179.0,2.000000,2.000000,2.000000,10.165951,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,51321800,51324926,0
178461,22,0,12764469,12764469.0,111.294022,146.077591,153.602821,206.970825,120.948192,151.150567,...,147.741988,118.177010,121.240217,142.797625,172.307776,118.426087,117.115406,0,4600,0
178462,22,15787747,51324926,35537179.0,10.664289,9.151965,8.807181,0.970000,9.927382,9.674572,...,10.482103,7.742838,7.805637,8.050934,8.420014,7.413285,7.399339,51321800,51324926,0

In [232]:
len(coordinates_telomeres[['Chromosome','Start', 'End']].drop_duplicates())

42

<h2> SDs

In [233]:
t2t_sds['Chromosome'] = t2t_sds['Chromosome'].str.replace('chr', '')
t2t_sds = PyRanges(t2t_sds)
t2t_sds

/opt/anaconda3/lib/python3.11/site-packages/pyranges/methods/init.py:45: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return {k: v for k, v in df.groupby(grpby_key)}

+--------------+-----------+-----------+
| Chromosome   | Start     | End       |
| (category)   | (int64)   | (int64)   |
|--------------+-----------+-----------|
| 1            | 1         | 13731     |
| 1            | 3         | 140066    |
| 1            | 16        | 13731     |
| 1            | 16        | 13731     |
| ...          | ...       | ...       |
| Y            | 62445192  | 62454747  |
| Y            | 62445192  | 62456950  |
| Y            | 62445192  | 62457871  |
| Y            | 62445192  | 62458697  |
+--------------+-----------+-----------+
Unstranded PyRanges object has 83,516 rows and 3 columns from 25 chromosomes.
For printing, the PyRanges was sorted on Chromosome.

In [234]:
coordinates_sds = final_cnv_ranges.nearest(t2t_sds)
coordinates_sds = coordinates_sds.as_df()
coordinates_sds = coordinates_sds[coordinates_sds['Distance'] <1 ]
coordinates_sds

,Chromosome,Start,End,Length_cnvr,LP6005441-DNA_A01,LP6005441-DNA_A03,LP6005441-DNA_A04,LP6005441-DNA_A05,LP6005441-DNA_A06,LP6005441-DNA_A08,...,LP6005677-DNA_G01,LP6007068-DNA_A01,LP6007069-DNA_A01,SS6004471,SS6004477,SS6004478,SS6004480,Start_b,End_b,Distance
0,1,0,403567,403567.0,2.000000,18.080000,2.000000,2.000000,2.000000,2.000000,...,18.446154,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1,13731,0
1,1,453948,466894,12946.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,459773,460982,0
2,1,485339,511499,26160.0,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,505923,507077,0
3,1,518975,605035,86060.0,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,567686,568750,0
4,1,663874,679953,16079.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,676952,677960,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178458,21,0,45090682,45090682.0,110.172885,145.875912,158.807910,1.000000,110.482155,160.080597,...,129.256325,98.383085,95.412666,108.014702,153.940968,89.884274,84.726368,4,293068,0
178459,22,0,12764469,12764469.0,2.000000,2.000000,2.000000,52.759434,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1,66809,0
178460,22,15787747,51324926,35537179.0,2.000000,2.000000,2.000000,10.165951,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,15712005,15938486,0
178461,22,0,12764469,12764469.0,111.294022,146.077591,153.602821,206.970825,120.948192,151.150567,...,147.741988,118.177010,121.240217,142.797625,172.307776,118.426087,117.115406,1,66809,0
178462,22,15787747,51324926,35537179.0,10.664289,9.151965,8.807181,0.970000,9.927382,9.674572,...,10.482103,7.742838,7.805637,8.050934,8.420014,7.413285,7.399339,15712005,15938486,0

In [268]:
len(coordinates_sds[['Chromosome','Start', 'End']].drop_duplicates())

4038

T2T Deletions and duplications

In [236]:
t2t_deletions = final_cnv[(final_cnv[final_cnv.iloc[:,4:280].columns[1:]]<3).all(axis=1)]
t2t_deletions = PyRanges(t2t_deletions)
len(t2t_deletions)

/opt/anaconda3/lib/python3.11/site-packages/pyranges/methods/init.py:45: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return {k: v for k, v in df.groupby(grpby_key)}

37823

In [237]:
# Genes 
deletions_t2t_coordinates_genes = t2t_deletions.nearest(t2t_genes)
deletions_t2t_coordinates_genes = deletions_t2t_coordinates_genes.as_df()
deletions_t2t_coordinates_genes = deletions_t2t_coordinates_genes[deletions_t2t_coordinates_genes['Distance'] <1 ]

# Telomeres
deletions_t2t_coordinates_telomeres = t2t_deletions.nearest(t2t_telomeres)
deletions_t2t_coordinates_telomeres = deletions_t2t_coordinates_telomeres.as_df()
deletions_t2t_coordinates_telomeres = deletions_t2t_coordinates_telomeres[deletions_t2t_coordinates_telomeres['Distance'] <1 ]
deletions_t2t_coordinates_telomeres

# SDs 
deletions_t2t_coordinates_sds = t2t_deletions.nearest(t2t_sds)
deletions_t2t_coordinates_sds = deletions_t2t_coordinates_sds.as_df()
deletions_t2t_coordinates_sds = deletions_t2t_coordinates_sds[deletions_t2t_coordinates_sds['Distance'] <1 ]

In [269]:
t2t_duplications = final_cnv[(final_cnv[final_cnv.iloc[:,4:280].columns[1:]]>1).all(axis=1)]
t2t_duplications  = PyRanges(t2t_duplications)
len(t2t_duplications)

/opt/anaconda3/lib/python3.11/site-packages/pyranges/methods/init.py:45: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return {k: v for k, v in df.groupby(grpby_key)}

81920

In [270]:
# Genes 
duplications_t2t_coordinates_genes = t2t_duplications.nearest(t2t_genes)
duplications_t2t_coordinates_genes = duplications_t2t_coordinates_genes.as_df()
duplications_t2t_coordinates_genes = duplications_t2t_coordinates_genes[duplications_t2t_coordinates_genes['Distance'] <1 ]

# Telomeres
duplications_t2t_coordinates_telomeres = t2t_duplications.nearest(t2t_telomeres)
duplications_t2t_coordinates_telomeres = duplications_t2t_coordinates_telomeres.as_df()
duplications_t2t_coordinates_telomeres = duplications_t2t_coordinates_telomeres[duplications_t2t_coordinates_telomeres['Distance'] <1 ]
duplications_t2t_coordinates_telomeres

# SDs 
duplications_t2t_coordinates_sds = t2t_duplications.nearest(t2t_sds)
duplications_t2t_coordinates_sds = duplications_t2t_coordinates_sds.as_df()
duplications_t2t_coordinates_sds = duplications_t2t_coordinates_sds[duplications_t2t_coordinates_sds['Distance'] <1 ]

In [271]:
len(coordinates_sds[['Chromosome','Start', 'End']].drop_duplicates())

4038

<h1> GRCh37

In [240]:
## Anotations
grch37_genes = pd.read_csv('../annotation_files/grch37-genes.csv')
grch37_telomeres = pd.read_csv('../annotation_files/grch37-telomers-centromers.csv')
grch37_sds = pd.read_csv('../annotation_files/grch37-sds.csv')
#grch37_sds = grch37_sds[['#chr1', 'start1', 'end1']]


## Read and merge files 
anotation = pd.read_csv('../data/SGDP_anotation.csv', sep=',', encoding='latin-1')

ids_hg19 = pd.DataFrame()
ids_hg19['Sample'] = anotation['3-Illumina_ID']
ids_hg19['Region'] = anotation['10-Region']


#t2t_sds.columns =['Chromosome','Start','End']
#t2t_sds
grch37_genes.columns = ['#"bin"', 'name', 'Chromosome', 'strand', 'Start', 'End', 'cdsStart',
       'cdsEnd', 'exonCount', 'exonStarts', 'exonEnds', 'score', 'name2',
       'cdsStartStat', 'cdsEndStat', 'exonFrames'] 
grch37_telomeres = grch37_telomeres[grch37_telomeres['type'] == 'telomere']
grch37_sds.columns = ['#"bin"', 'Chromosome', 'Start', 'End', 'name', 'score', 'strand',
       'otherChrom', 'otherStart', 'otherEnd', 'otherSize', 'uid',
       'posBasesHit', 'testResult', 'verdict', 'chits', 'ccov', 'alignfile',
       'alignL', 'indelN', 'indelS', 'alignB', 'matchB', 'mismatchB',
       'transitionsB', 'transversionsB', 'fracMatch', 'fracMatchIndel', 'jcK',
       'k2K']

In [241]:
data = pd.read_csv("../call_cnvr_cnvnator/individual_cnv_cnvr.txt", sep='\t')
data.columns = ['Chromosome', 'Start', 'End','CNVR','Sample_ID','CNV_Start', 'CNV_End', 'RD', 'Lenght']
data = data.dropna()#.describe()
data['Length_cnvr'] = data['End'] - data['Start'] 
#data

In [242]:
## Keeping only samples that are on old cnvs 
data = data.merge(ids_hg19, right_on=['Sample'], left_on=['Sample_ID'])

In [243]:
#REMOVE SAMPLES WITH ABERRATIONS
samples_with_aberrations = ['LP6005441-DNA_B03', ' LP6005443-DNA_G01', 'LP6005441-DNA_G09', 'LP6005441-DNA_D04'] 

data = data[~data.Sample.isin(samples_with_aberrations)]

data.columns = ['Chromosome', 'Start', 'End', 'CNVR_ID', 'Sample_iD', 'CNV_start', 'CNV_end', 'CNV_Value','Length', 'Length_cnvr','Sample','Region']
#data

In [244]:
#change to df when using telomeres and centromeres filtration
final_cnv_grch37 = data.pivot_table(index=["Chromosome", "Start", "End", 'Length_cnvr'], 
                    columns='Sample', 
                    values='CNV_Value',
                        fill_value=2).reset_index()


#final_cnv_grch37

In [245]:
final_cnv_ranges_grch37 = PyRanges(final_cnv_grch37)
#final_cnv_grch37

/opt/anaconda3/lib/python3.11/site-packages/pyranges/methods/init.py:45: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return {k: v for k, v in df.groupby(grpby_key)}

In [246]:
grch37_deletions = final_cnv_grch37[(final_cnv_grch37[final_cnv_grch37.iloc[:,4:280].columns[1:]]<3).all(axis=1)]
grch37_deletions = PyRanges(grch37_deletions)
len(grch37_deletions)

/opt/anaconda3/lib/python3.11/site-packages/pyranges/methods/init.py:45: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return {k: v for k, v in df.groupby(grpby_key)}

6110

In [247]:
grch37_duplications = final_cnv_grch37[(final_cnv_grch37[final_cnv_grch37.iloc[:,4:280].columns[1:]]>1).all(axis=1)]
grch37_duplications  = PyRanges(grch37_duplications)
#grch37_duplications

/opt/anaconda3/lib/python3.11/site-packages/pyranges/methods/init.py:45: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return {k: v for k, v in df.groupby(grpby_key)}

<h2> Genes

In [248]:
grch37_genes['Chromosome'] = grch37_genes['Chromosome'].str.replace('chr', '')
grch37_genes_coordinates = PyRanges(grch37_genes)
#grch37_genes_coordinates

/opt/anaconda3/lib/python3.11/site-packages/pyranges/methods/init.py:45: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return {k: v for k, v in df.groupby(grpby_key)}

In [249]:
grch37_coordinates_genes = final_cnv_ranges_grch37.nearest(grch37_genes_coordinates)
grch37_coordinates_genes = grch37_coordinates_genes.as_df()
grch37_coordinates_genes = grch37_coordinates_genes[grch37_coordinates_genes['Distance'] <1 ]
#grch37_coordinates_genes

In [250]:
grch37_genes = len(grch37_coordinates_genes[['Chromosome','Start', 'End']].drop_duplicates())
grch37_genes

5427

In [251]:
grch37_coordinates_genes['Length_cnvr'].mean()

85647.29555924084

<h1> Telomeres

In [252]:
grch37_telomeres['Chromosome'] = grch37_telomeres['Chromosome'].str.replace('chr', '')
grch37_telomeres = PyRanges(grch37_telomeres)
#grch37_telomeres

/opt/anaconda3/lib/python3.11/site-packages/pyranges/methods/init.py:45: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return {k: v for k, v in df.groupby(grpby_key)}

In [253]:
grch37_coordinates_telomeres = final_cnv_ranges_grch37.nearest(grch37_telomeres)
grch37_coordinates_telomeres = grch37_coordinates_telomeres.as_df()
grch37_coordinates_telomeres = grch37_coordinates_telomeres[grch37_coordinates_telomeres['Distance'] <1 ]
#grch37_coordinates_telomeres

In [254]:
grch37_telomeres_coordinates = len(grch37_coordinates_telomeres[['Chromosome','Start', 'End']].drop_duplicates())
grch37_telomeres_coordinates

10

In [255]:
grch37_coordinates_telomeres['Length_cnvr'].mean()

230539.0

<h1> SDs

In [256]:
grch37_sds['Chromosome'] = grch37_sds['Chromosome'].str.replace('chr', '')
grch37_sds = PyRanges(grch37_sds)
#grch37_sds

/opt/anaconda3/lib/python3.11/site-packages/pyranges/methods/init.py:45: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  return {k: v for k, v in df.groupby(grpby_key)}

In [257]:
grch37_coordinates_sds = final_cnv_ranges_grch37.nearest(grch37_sds)
grch37_coordinates_sds = grch37_coordinates_sds.as_df()
grch37_coordinates_sds = grch37_coordinates_sds[grch37_coordinates_sds['Distance'] <1 ]
#grch37_coordinates_sds

In [258]:
grch37_sds_coordinates = len(grch37_coordinates_sds[['Chromosome','Start', 'End']].drop_duplicates())
grch37_sds_coordinates

1151

GRCh37 Deletions

In [259]:
# Genes 
deletions_grch37_coordinates_genes = grch37_deletions.nearest(grch37_genes_coordinates)
deletions_grch37_coordinates_genes = deletions_grch37_coordinates_genes.as_df()
deletions_grch37_coordinates_genes = deletions_grch37_coordinates_genes[deletions_grch37_coordinates_genes['Distance'] <1 ]

# Telomeres
deletions_grch37_coordinates_telomeres = grch37_deletions.nearest(grch37_telomeres)
deletions_grch37_coordinates_telomeres = deletions_grch37_coordinates_telomeres.as_df()
deletions_grch37_coordinates_telomeres = deletions_grch37_coordinates_telomeres[deletions_grch37_coordinates_telomeres['Distance'] <1 ]
deletions_grch37_coordinates_telomeres

# SDs 
deletions_grch37_coordinates_sds = grch37_deletions.nearest(grch37_sds)
deletions_grch37_coordinates_sds = deletions_grch37_coordinates_sds.as_df()
deletions_grch37_coordinates_sds = deletions_grch37_coordinates_sds[deletions_grch37_coordinates_sds['Distance'] <1 ]

GRCh37 Duplications

In [260]:
# Genes 
duplications_grch37_coordinates_genes = grch37_duplications.nearest(grch37_genes_coordinates)
duplications_grch37_coordinates_genes = duplications_grch37_coordinates_genes.as_df()
duplications_grch37_coordinates_genes = duplications_grch37_coordinates_genes[duplications_grch37_coordinates_genes['Distance'] <1 ]

# Telomeres
duplications_grch37_coordinates_telomeres = grch37_duplications.nearest(grch37_telomeres)
duplications_grch37_coordinates_telomeres = duplications_grch37_coordinates_telomeres.as_df()
duplications_grch37_coordinates_telomeres = duplications_grch37_coordinates_telomeres[duplications_grch37_coordinates_telomeres['Distance'] <1 ]
duplications_grch37_coordinates_telomeres

# SDs 
duplications_grch37_coordinates_sds = grch37_duplications.nearest(grch37_sds)
duplications_grch37_coordinates_sds = duplications_grch37_coordinates_sds.as_df()
duplications_grch37_coordinates_sds = duplications_grch37_coordinates_sds[duplications_grch37_coordinates_sds['Distance'] <1 ]

In [272]:
d = {'Data': ['GRCh37', '  Genes','  Telomeres','  SDs','T2T-CHM13', '  Genes','  Telomeres','  SDs'], 
     'Total': [len(final_cnv_grch37), 
               len(grch37_coordinates_genes[['Chromosome','Start', 'End']].drop_duplicates()), 
               len(grch37_coordinates_telomeres[['Chromosome','Start', 'End']].drop_duplicates()), 
               len(grch37_coordinates_sds[['Chromosome','Start', 'End']].drop_duplicates()),  
               len(final_cnv), 
               len(coordinates_genes[['Chromosome','Start', 'End']].drop_duplicates()), 
               len(coordinates_telomeres[['Chromosome','Start', 'End']].drop_duplicates()), 
               len(coordinates_sds[['Chromosome','Start', 'End']].drop_duplicates())], 
     'Mean size(Bp)':[final_cnv_grch37['Length_cnvr'].mean().round(), 
                      grch37_coordinates_genes['Length_cnvr'].mean().round(), 
                      grch37_coordinates_telomeres['Length_cnvr'].mean().round(), 
                      grch37_coordinates_sds['Length_cnvr'].mean().round(), 
                      coordinates_genes['Length_cnvr'].mean().round(),
                      final_cnv['Length_cnvr'].mean().round(),
                      coordinates_telomeres['Length_cnvr'].mean().round(), 
                      coordinates_sds['Length_cnvr'].mean().round()],
     'Deletions':[len(grch37_deletions), 
                  len(deletions_grch37_coordinates_genes[['Chromosome','Start', 'End']].drop_duplicates()),
                  len(deletions_grch37_coordinates_telomeres[['Chromosome','Start', 'End']].drop_duplicates()), 
                  len(deletions_grch37_coordinates_sds[['Chromosome','Start', 'End']].drop_duplicates()), 
                  len(t2t_deletions), 
                  len(deletions_t2t_coordinates_genes[['Chromosome','Start', 'End']].drop_duplicates()),
                  len(deletions_t2t_coordinates_telomeres[['Chromosome','Start', 'End']].drop_duplicates()), 
                  len(deletions_t2t_coordinates_sds[['Chromosome','Start', 'End']].drop_duplicates()), ], 
     'Duplications':[len(grch37_duplications), 
                     len(duplications_grch37_coordinates_genes[['Chromosome','Start', 'End']].drop_duplicates()),
                     len(duplications_grch37_coordinates_telomeres[['Chromosome','Start', 'End']].drop_duplicates()), 
                     len(duplications_grch37_coordinates_sds[['Chromosome','Start', 'End']].drop_duplicates()),
                     len(t2t_duplications), 
                     len(duplications_t2t_coordinates_genes[['Chromosome','Start', 'End']].drop_duplicates()),
                     len(duplications_t2t_coordinates_telomeres[['Chromosome','Start', 'End']].drop_duplicates()), 
                     len(duplications_t2t_coordinates_sds[['Chromosome','Start', 'End']].drop_duplicates()) ]
    
    }
df = pd.DataFrame(data=d)
df

          Data   Total  Mean size(Bp)  Deletions  Duplications
0       GRCh37    7780        66614.0       6110          1482
1        Genes    5427        85647.0       4174          1123
2    Telomeres      10       230539.0          4             0
3          SDs    1151       210065.0        730           282
4    T2T-CHM13  178463        27200.0      37823         81920
5        Genes   84326        24871.0      23203         55258
6    Telomeres      42      5842973.0          0            41
7          SDs    4038       171021.0        144          3497