In [1]:
import pandas as pd
from scipy import stats
from pyranges import PyRanges

In [26]:
header_1 = ['Chromosome','Start', 'End', 'Original','Strain']
header_2 = ['Chromosome', 'Start' , 'End']
header_3 = ['Chromosome', 'Start' , 'End', 'Type']
header_4 = ['Chromosome','Start', 'End', 'Type','Strain']

grch37_to_t2t = pd.read_csv('/Users/luciabazan/Downloads/liftover_vsts_grch37_to_t2tchm13.bed', sep='\t', names=header_1)
grch37_to_t2t = PyRanges(grch37_to_t2t)

grch37_to_t2t_newest = pd.read_csv('/Users/luciabazan/Downloads/liftover_vsts_grch37_to_t2tchm13_newest.bed', sep='\t', names=header_1)
#grch37_to_t2t_newest = PyRanges(grch37_to_t2t_newest)

grch37_to_t2t_types = pd.read_csv('/Users/luciabazan/Downloads/liftover_vsts_grch37_to_t2tchm13_types.bed', sep='\t', names=header_4)

grch37_to_t2t_all = pd.read_csv('/Users/luciabazan/Downloads/liftover_grch37_to_t2tchm13.bed', sep='\t', names=header_1)
grch37_to_t2t_all = PyRanges(grch37_to_t2t_all)

t2t_to_grch37 = pd.read_csv('/Users/luciabazan/Downloads/liftover_vsts_t2tchm13_to_grch37.bed', sep='\t', names=header_1)
t2t_to_grch37 = PyRanges(t2t_to_grch37)

grch37 = pd.read_csv('vst_coordinates_grch37.bed', sep='\t', names=header_3)
grch37 = PyRanges(grch37)

t2t = pd.read_csv('vst_coordinates_chm13t2t.bed', sep='\t', names=header_3)
t2t = PyRanges(t2t)

t2t_all= pd.read_csv('cnvs_coordinates_chm13t2t.bed', sep='\t', names=header_3)
t2t_all = PyRanges(t2t_all)
t2t_all

t2t_all_values= pd.read_csv('../data/vst_results_t2tchm13.csv')
#t2t_all_values = PyRanges(t2t_all_values)


grch37_all_values= pd.read_csv('../data/vst_results_grch37.csv')
#grch37_all_values = PyRanges(grch37_all_values)

t2t

+--------------+-----------+-----------+-------------+
| Chromosome   | Start     | End       | Type        |
| (category)   | (int64)   | (int64)   | (object)    |
|--------------+-----------+-----------+-------------|
| chr1         | 260453    | 261566    | duplication |
| chr1         | 261566    | 263205    | duplication |
| chr1         | 294300    | 296493    | duplication |
| chr1         | 306618    | 307618    | duplication |
| ...          | ...       | ...       | ...         |
| chr22        | 48692337  | 48697704  | deletion    |
| chr22        | 49113340  | 49116195  | deletion    |
| chr22        | 49116195  | 49121163  | deletion    |
| chr22        | 49781932  | 49783037  | duplication |
+--------------+-----------+-----------+-------------+
Unstranded PyRanges object has 11,135 rows and 4 columns from 22 chromosomes.
For printing, the PyRanges was sorted on Chromosome.

In [27]:
#### GRCh37 vst to T2T vst 
#t2t.overlap(grch37_to_t2t)
grch37_to_t2tchm13 = grch37_to_t2t.nearest(t2t)
grch37_to_t2tchm13 = grch37_to_t2tchm13.as_df()


grch37_to_t2tchm13 = grch37_to_t2tchm13[grch37_to_t2tchm13['Distance'] < 2000]
grch37_to_t2tchm13#.sort_values(by=['Distance']).head(50)

,Chromosome,Start,End,Original,Strain,Start_b,End_b,Type,Distance
0,chr1,7831877,7831877,chr1:8360202-8360201,1,7831825,7834151,deletion,0
1,chr1,9328929,9328929,chr1:9846202-9846201,1,9327347,9329877,deletion,0
2,chr1,61526516,61526516,chr1:62113302-62113301,1,61525294,61528369,deletion,0
3,chr1,62067167,62067167,chr1:62654202-62654201,1,62054126,62068025,deletion,0
4,chr1,127795552,127795552,chr1:142781102-142781101,1,127792859,127797357,duplication,0
...,...,...,...,...,...,...,...,...,...
440,chr22,19266007,19266007,chr22:20326502-20326501,1,19265142,19279176,deletion,0
441,chr22,20794933,20794933,chr22:20744902-20744901,1,20793449,20795775,deletion,0
442,chr22,22703853,22703853,chr22:22644702-22644701,1,22698253,22708613,duplication,0
450,chr22,39367662,39367662,chr22:39293302-39293301,1,39368645,39370943,duplication,984
452,chr22,45643209,45643209,chr22:45554602-45554601,1,45644771,45648303,deletion,1563

In [23]:
grch37_to_t2tchm13 = grch37_to_t2t_newest.nearest(t2t)
grch37_to_t2tchm13 = grch37_to_t2tchm13.as_df()


#grch37_to_t2tchm13 = grch37_to_t2tchm13[grch37_to_t2tchm13['Distance'] < 2000]
#grch37_to_t2tchm13#.sort_values(by=['Distance']).head(50)

In [24]:
grch37_to_t2tchm13

Empty DataFrame
Columns: []
Index: []